
button{
 padding: 0.8rem 1.2rem;
 border-radius: 6px;
 font-size: clamp(1rem, calc(3vw + 1rem), 2rem);
 border: none;
 font-weight: bold;
 box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
 /* margin-top: 2rem; */
 cursor: pointer;
 color: #1d1d1d;
}

button:hover{
    opacity: 0.95;
}

.btn-primary{
    background-color: var(--primary-color-1);
    color: white;
}

.btn-secondary{
    background-color:var(--secondary-color-1);
    color: #14213D;
    
}
