.sidebar {
    /* background-color: #834; */
    height: max-content;
    height: max-content;
    margin: 0 1vw;
}

.sidebar__header p {
    font-size: clamp(1.5vw, 3.5rem, 2.5vw);
    text-transform: uppercase;
    text-align: center;
    color: rgb(88, 88, 88);
    padding-bottom: 1rem;

    background: -webkit-linear-gradient(45deg, #025DE8, #E80EAA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    transform: skew(15deg) rotateY(25deg);
}

.sidebar__articles {
    font-size: clamp(1.2vw, 1.8rem, 1.8vw);
}


.article__link {
    background-color: var(--secondary-color-2);
    margin-bottom: 1px;
    padding: 1vw;
    cursor: pointer;
    transition: background-color 0.3s linear;

}

.article__link:hover {
    background-color: #fff;
    color: var(--secondary-color-1);
    border-left: 0.5vw solid var(--primary-color-2);
    border-right: 0.5vw solid var(--primary-color-2);
}