/* ! RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    /* Set the default fonts for headers */
    --head-font: 'MerriWeather';
    --main-font: 'Open Sans';
    /* Declaration of variables */

    --neutral-color: #EEF2F4;
    --primary-color-1:#14213D;
    --secondary-color-1: #FFC145;
    --primary-color-2: #394869;
}

html{
    font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
}

body{
   font-family: var(--main-font);
}

body::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: -webkit-linear-gradient(to top, var(--primary-color-1), var(--primary-color-2)); 
  background: linear-gradient(to top, var(--primary-color-1), var(--primary-color-2)); 
}