.sign__up{
    max-width: 70vw;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 3fr 2.5fr;
}
.header{
    text-align: center;
    margin: 3rem auto;
    font-size: clamp(2vw, 3.5rem, 4vw);
    width: 40%;
    color: var( --primary-color-2)
}