.footer{
    color: #394869;
    background-color: var(--primary-color-1);
     color: white;
     height: max-content;
     margin-top: 10rem;
     font-size: clamp(1rem, 1.5vw, 1.4rem);
     font-weight: 100;
     display: flex;
     flex-direction: column;

     
}

.footer-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;
  height: 100%;
  gap: 2rem;
  padding: 0 3rem;
}
.footer-section{
    /* background-color: orangered; */
    line-height: 1.8;
    justify-self: center;
    padding: 10px;
    
}

.footer-date{
    color: var(--primary-color-1);
    text-align: center;
    margin-top: 3rem;
    font-weight: 100;
    color: #4e68bd;
}